
@import 'variables';

// === BASE === //

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $preto;
    font-family: 'Montserrat', sans-serif;
    color: $font;
}

header .logo{
    color: $verde;
    font-family: 'Times New Roman', Times, serif;
}

header nav a{
    color: $items;
    text-decoration: none;
    margin-right: 10px;

    &:hover{
        cursor: pointer;
        color: $font;
        transition: 2s;
    }
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

// === MAIN MOVIE === //

.main-movie{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0, .50),rgba(0,0,0, .50)100%), url('../../img/skate-or-die-bd.jpeg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.btn-container{
    margin-top: 40px;
}

