// === COLOURS === //

$verde: #32a86d; 
$preto: #141414;
$font: #fff;
$items: #AAA;

// === FONTS === //

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500&family=Montserrat:ital,wght@0,400;1,800&display=swap'); // O mais perto de GOTHAM da Netflix