
/* === VARIABLES === */

$container-bg: #fccec2;
$inc-color: #f56b49;
$font-color: #ff5124;
$bg-color: #3CBC8D;
$btn-bg: lightcoral;
$btn-color: #f56b49;
$num-color: #0494ef;
$copyright: #fccec2;

/* === Components === */
* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
html{
    margin:0px;
    height:100%;
    display: flex;
    justify-content: center;
    background-color: $bg-color;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $bg-color;
    border: 2px solid $font-color;
    width: 65%;
    padding: 20px;
    background-color: $btn-color;
}


.list{
    display: flex;
    justify-content: center;
}

#task-form {
    display: flex;
    justify-content: center;
 }

 #task-input{
    
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid $font-color;
    border-radius: 4px;

    &:hover{
        border: 2px solid $container-bg;
    }

    &:focus{
       outline: none !important;
    }
    
 }



 button{
    margin-left: 10px;
    border-radius: 3px;
    color: $font-color;
    

    &:hover{
        cursor: pointer;
        background-color: $font-color;
        color: $container-bg;
    }
 }

h1,
h5{
    text-transform: uppercase;
    text-align: center;
    color: $copyright;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    
}

#clear-list{
    width: 50%;
    height: 41%;
    padding: 25px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === TASKS === */

.task-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.checkbox{
    display: flex;
    justify-content: center;

    &:hover{
        cursor: pointer;
        background-color: $font-color;
        color: $copyright;
    }
}

.list{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

}

.li-text{
    color: $copyright;
}