/* === VARIABLES === */
/* === Components === */
* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

html {
  margin: 25px;
  height: 80%;
  background-color: #0d75ec;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
  max-width: 100% !important;
  background-color: #0494ef;
}

h1 {
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 0;
}

h5 {
  color: #fccec2;
  text-align: center;
  font-size: 15px !important;
  margin-top: 10px !important;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 120px;
  width: 100%;
  overflow: hidden;
  font-weight: 300;
}

#newtask {
  position: relative;
  padding: 50px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
}

#newtask input {
  width: 75%;
  height: 33px;
  padding: 8px;
  color: #0d75ec;
  font-weight: 500;
  border-radius: 5px;
  font-family: 'Poppins',sans-serif;
  font-size: 15px;
  border: 2px solid #f0f0f0;
  outline: none;
}

#newtask input:focus {
  border-color: #fccec2;
  -webkit-box-shadow: 1px 1px #fccec2;
          box-shadow: 1px 1px #fccec2;
}

.tasks {
  max-width: 96%;
  position: relative;
  color: #f1f1f1;
  font-weight: 300;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  padding-left: 5px;
  min-height: 0;
}

.overflow-auto {
  max-height: 400px;
}

#newtask button {
  float: right;
  font-weight: 500;
  font-size: 16px;
  background-color: #f1f1f1;
  color: #0d75ec;
  cursor: pointer;
  outline: none;
  width: 20%;
  height: 35px;
  border-radius: 5px;
  font-family: 'Poppins',sans-serif;
  border: 2px solid #f0f0f0;
  margin-left: 3px;
  opacity: 0.6;
  pointer-events: none;
}

#newtask button:hover {
  background-color: #0d75ec;
  color: #f1f1f1;
  border: 2px solid #f1f1f1;
}

#newtask button.active {
  opacity: 1;
  pointer-events: auto;
}

li {
  font-size: 20px;
  background-color: #0d75ec;
  color: #f0f0f0;
  margin-bottom: 2px;
  padding: 5px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  overflow: auto;
}

.far {
  margin-right: 2px;
}

.far:hover {
  cursor: pointer;
}

#clear-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
  height: 40px;
  padding: 15px;
  border-radius: 5px;
  -ms-flex-item-align: center;
      align-self: center;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
  border: 2px solid #f0f0f0;
  background-color: #f1f1f1;
  color: #0d75ec;
}

#clear-list:hover {
  cursor: pointer;
  background-color: #0d75ec;
  color: #f1f1f1;
  border: 2px solid #f1f1f1;
}
/*# sourceMappingURL=styles.css.map */